.flashcard {
  width: 20rem;
  height: 5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem;
}
.flashcard-container{
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  margin: 5rem 27rem;
  align-items: center;
}
.party-info {
  display: flex;
  align-items: center;
}


.party-name {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5rem;
}

.vote-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vote-button:hover {
  background-color: green;
}
