.View1{
    height:20rem;
    border: 2px solid green;
    margin: 4rem 14rem;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
.dash1{
    height: 18rem;
    width: 18rem;
    display: flex;
}
.content1{
    margin: 6rem;
}
.Verify{
    background-color: rgb(65,145,246);
    border-radius: 5px;
}